.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 0.3rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  border-top: 1px solid ;
}

.footer-wrapper {
  display: flex;
  justify-content: center;  
}
.footer-wrapper a {
  margin-left: 5px;
}

.footer-wrapper:hover {
  text-decoration: underline; 
}
  